


<#if hasCodeBlock>
	<#include "highlighter_js.htm"/>
</#if>

  
                    </div>
                    </div>
              </div>
</div>
<!-- 
<iframe src="${contextPath}/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no"></iframe>
 -->
 <footer class="footer" style="color: #777;text-align: center;padding: 30px 0px;margin-top: 70px;border-top: 2px solid #E5E5E5;background-color: #F5F5F5;"> 			
 	<span >
 		<p>Powered by <a href="http://www.bootcss.com/"> Bootstrap</a> &nbsp;|&nbsp;<a href="http://www.jforum.net/" target="_blank">JForum ${version}</a> 
 		&copy; 
 		<a href="http://www.jforum.net/team.jsp" target="_blank">JForum Team</a></p>
 	</span>
 </footer>
</body>
</html>