<#include "header.htm"/>
<!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="${contextPath}/rss/forums${extension}" />
 -->

<!-- START FORUM LISTING -->
				<#list allCategories as category>
					
					<div class="container">
						<div class="row">
							<div class="col-md-12 ">
								<div class="alert alert-success" role="alert">
								 	<div class="alert-link">${category.name}</div>
								</div>
							</div>
						</div>
						<div>
					<#list category.getForums() as forum>
						<div class="col-sm-6" >
						    <div class="thumbnail" style="background-color: #F5F5F5;">
						      <div class="caption">
						        <span>
						        	<h3>
						        		<a href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a>
						        		<span class="label label-danger pull-right">${forum.totalTopics}</span>
						        	</h3>
						        </span>
						        
						        <span style="padding-bottom:10px;">
						        	${forum.description?default("")}&nbsp;
						        </span>
						       
						      </div>
						    </div>
  						</div>
					</#list>
						</div>
					</div>
				</#list>
				

<#include "bottom.htm"/>
