<#include "header.htm"/>
<!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="${contextPath}/rss/forums${extension}" />
 -->

<!-- START FORUM LISTING -->
				<#list allCategories as category>
					
					<div class="container">
						<div class="row">
							<div class="col-md-12 ">
								<div class="alert alert-success" role="alert">
								 	<div class="alert-link">${category.name}</div>
								</div>
							</div>
						</div>
						<div>
					<#list category.getForums() as forum>
						<div class="col-sm-6 col-md-3" >
						    <div class="thumbnail" style="background-color: #F5F5F5;">
						      <div class="caption">
						        <a href="${JForumContext.encodeURL("/forums/show/${forum.id}")}"><h3>${forum.name?html}</h3></a>
						        
						        <p><span class="label label-danger">${forum.totalTopics}</span></p>
						        <div style="padding-bottom:10px;">
						        	${forum.description?default("")}
						        </div>
						       <strong><p><a href="${JForumContext.encodeURL("/forums/show/${forum.id}")}" class="btn btn-success btn-medium" role="button">Go</a></p></strong>
						      </div>
						    </div>
  						</div>
					</#list>
						</div>
					</div>
				</#list>
				

<#include "bottom.htm"/>
