<div class="">
	<div class="pull-left"><b>${I18n.getMessage("PostShow.subject")}:</b> <a name="${post.id}">${post.subject?default("")?html}</a></div>
	<span class="pull-right">
			<a class="nav" href="#top"><img src="${contextPath}/templates/${templateName}/images/icon_up.gif" alt="[Up]" /></a>
	</span>
	<div class="pull-left">
		<#assign startStr = ""/>
		<#if (start > 0)><#assign startStr = "${start}/"/></#if>
		<a href="${JForumContext.encodeURL("/posts/list/${startStr}${post.topicId}")}#${post.id}">
		<img src="${contextPath}/templates/${templateName}/images/icon_minipost_new.gif" alt="[Post New]" /></a>
		&nbsp;&nbsp;&nbsp;${I18n.getMessage("Search.postedAt")}
		${post.formatedTime}
	</div>
	
	<div class="pull-right">
		<#if karmaEnabled>
			<script type="text/javascript">writeStars(${post.karma.karmaPoints}, ${post.id});</script>
			&nbsp;
		</#if>

		<#if topic.status != STATUS_LOCKED && !readonly>
			<a href="${JForumContext.encodeURL("/posts/quote/${start}/${post.id}")}" rel="nofollow" class="icon_quote"><div class="btn btn-xs btn-success">${I18n.getMessage("Post_list_Quote_Msg")}</div></a>
			&nbsp;
		</#if>
		
		<#if (canEditCurrentMessage)>
			<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=edit&amp;post_id=${post.id}&amp;start=${start}","")}" rel="nofollow" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span>${I18n.getMessage("Post_list_Edit_Msg")}</a>  
			&nbsp;
		</#if>

		<#if canRemove>
			<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=delete&amp;post_id=${post.id}&amp;start=${start}","")}" id="delete${post.id}" onclick="return confirmDelete(${post.id});"><img src="${contextPath}/templates/${templateName}/images/icon_delete.gif" alt="[Delete]" /></a>  
		</#if>

	</div>
	
</div>